= include_gon
.essays{ :ng => {:controller=>'essayIndexCtrl', :init=>'init()'}}
  = render :partial => 'components/section_header'
  .body
    .cards
      -@essays.each do |e|
        .card{:ng=>{:click=>"selectCard('#{essays_path}/#{e.id}')"}}
          .card-inner{:style => 'background-image: url("' + @essay_cards['card'+e.id.to_s] + '");'}
            %h2
              = e[:description]
